body {
    margin: auto;
}
.grid-lg-1-3 {
width: 33.3333%;
letter-spacing: normal;
padding: 0px 10px;
vertical-align: top;
word-spacing: normal;
text-rendering: auto;
float: right;
}
.grid-lg-1-2 {
width: 33.3333%;
float: left;
}
p {
  text-align: center;
}
